<div style=" margin-top: 88px;" class="big-video  container">
  <div class="expore-wrapper">
    <div  data-aos="fade-down-left"  style="margin-left: 120px; margin-top: -10px;" class="big-video ">
      <div class="big-video">
   
<video width="100%" style="margin-left: 0px;" controls>
  <source src="../../assets/israel_mbonyi_baho_h264_19076.mp4" type="video/mp4">
 
</video>
      </div>
      

   </div>
    


<!-----carousel------->

  
  
<!---end of carousel-->


    <div style="margin-left: 220px;margin-top: 290px;" class="responsive row d-flex">
     
        <div data-aos="fade-right" class="explore-more" ><h1 class="row-header"><span style="margin-left: 20px;margin-top: 15px;" class="col-sm-4" >Explore More</span></h1>
         
        <p style="margin-left: 250px;" class="text-secondary mt-5 ">Stream the Best video of your choice <br>with the best video <span class="text-warning">Quality </span> ever existed</p>
        <div style="margin-left:270px" class="counterr col-sm-4">
          <span style="color: yellow;font-size: 35px; margin-left: 59px; " class="counter">2,523</span><br>
          <p class="text-white">Users are enjoying this Musika</p>
        </div>
       
        </div>
      
     
   
 
  <div  class="col">
      <div data-aos="zoom-in-up" class="card" style="width: 18rem;">
          <youtube-player 
          videoId="y915qi-JOvc" 
          suggestedQuality="highres" 
          [height]="150" 
          [width]="290" 
          [startSeconds]="4"
          [endSeconds]="8">
        </youtube-player> 
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>

</div>
        <div class="col">
            <div data-aos="zoom-in-up" class="card" style="width: 18rem;">
                <youtube-player 
                videoId="q78fLvbK8ro" 
                suggestedQuality="highres" 
                [height]="150" 
                [width]="290" 
                [startSeconds]="4"
                [endSeconds]="8">
              </youtube-player> 
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div> 
             
        </div>
        <div class="col">
            <div data-aos="zoom-in-up" class="card" style="width: 18rem;">
                <youtube-player 
                videoId="AHqZ49kluS0" 
                suggestedQuality="highres" 
                [height]="150" 
                [width]="290" 
                [startSeconds]="4"
                [endSeconds]="8">
              </youtube-player> 
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col">
            <div data-aos="zoom-in-up" class="card" style="width: 18rem;">
                <youtube-player 
                videoId="vPS4txvYVEw" 
                suggestedQuality="highres" 
                [height]="150" 
                [width]="290" 
                [startSeconds]="4"
                [endSeconds]="8">
              </youtube-player> 
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col">
            <div data-aos="zoom-in-up" class="card" style="width: 18rem;">
                <youtube-player 
                videoId="vPS4txvYVEw" 
                suggestedQuality="highres" 
                [height]="150" 
                [width]="290" 
                [startSeconds]="4"
                [endSeconds]="8">
              </youtube-player> 
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div data-aos="zoom-in-up" class="col">
            <div class="card" style="width: 18rem;">
                <youtube-player 
                videoId="vPS4txvYVEw" 
                suggestedQuality="highres" 
                [height]="150" 
                [width]="290" 
                [startSeconds]="4"
                [endSeconds]="8">
              </youtube-player> 
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col">
            <div data-aos="zoom-in-up" class="card" style="width: 18rem;">
                <youtube-player 
                videoId="vPS4txvYVEw" 
                suggestedQuality="highres" 
                [height]="150" 
                [width]="290" 
                [startSeconds]="4"
                [endSeconds]="8">
              </youtube-player> 
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col">
            <div data-aos="zoom-in-up" class="card" style="width: 18rem;">
                <youtube-player 
                videoId="vPS4txvYVEw" 
                suggestedQuality="highres" 
                [height]="150" 
                [width]="290" 
                [startSeconds]="4"
                [endSeconds]="8">
              </youtube-player> 
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col">
            <div data-aos="zoom-in-up" class="card" style="width: 18rem;">
                <youtube-player 
                videoId="vPS4txvYVEw" 
                suggestedQuality="highres" 
                [height]="150" 
                [width]="290" 
                [startSeconds]="4"
                [endSeconds]="8">
              </youtube-player> 
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div data-aos="zoom-in-up" class="col">
            <div class="card" style="width: 18rem;">
                <youtube-player 
                videoId="vPS4txvYVEw" 
                suggestedQuality="highres" 
                [height]="150" 
                [width]="290" 
                [startSeconds]="4"
                [endSeconds]="8">
              </youtube-player> 
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div data-aos="zoom-in-up" class="col">
            <div class="card" style="width: 18rem;">
                <youtube-player 
                videoId="vPS4txvYVEw" 
                suggestedQuality="highres" 
                [height]="150" 
                [width]="290" 
                [startSeconds]="4"
                [endSeconds]="8">
              </youtube-player> 
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div data-aos="zoom-in-up" class="col">
            <div class="card" style="width: 18rem;">
                <youtube-player 
                videoId="vPS4txvYVEw" 
                suggestedQuality="highres" 
                [height]="150" 
                [width]="290" 
                [startSeconds]="4"
                [endSeconds]="8">
              </youtube-player> 
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div data-aos="zoom-in-up" class="col">
            <div class="card" style="width: 18rem;">
                <youtube-player 
                videoId="vPS4txvYVEw" 
                suggestedQuality="highres" 
                [height]="150" 
                [width]="290" 
                [startSeconds]="4"
                [endSeconds]="8">
              </youtube-player> 
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <youtube-player 
                videoId="vPS4txvYVEw" 
                suggestedQuality="highres" 
                [height]="150" 
                [width]="290" 
                [startSeconds]="4"
                [endSeconds]="8">
              </youtube-player> 
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div data-aos="zoom-in-up" class="col">
            <div class="card" style="width: 18rem;">
                <youtube-player 
                videoId="vPS4txvYVEw" 
                suggestedQuality="highres" 
                [height]="150" 
                [width]="290" 
                [startSeconds]="4"
                [endSeconds]="8">
              </youtube-player> 
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div data-aos="zoom-in-up" class="col">
            <div class="card" style="width: 18rem;">
                <youtube-player 
                videoId="vPS4txvYVEw" 
                suggestedQuality="highres" 
                [height]="150" 
                [width]="290" 
                [startSeconds]="4"
                [endSeconds]="8">
              </youtube-player> 
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div  data-aos="zoom-in-up"class="col">
            <div class="card" style="width: 18rem;">
                <youtube-player 
                videoId="vPS4txvYVEw" 
                suggestedQuality="highres" 
                [height]="150" 
                [width]="290" 
                [startSeconds]="4"
                [endSeconds]="8">
              </youtube-player> 
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div data-aos="zoom-in-up" class="col">
            <div class="card" style="width: 18rem;">
                <youtube-player 
                videoId="vPS4txvYVEw" 
                suggestedQuality="highres" 
                [height]="150" 
                [width]="290" 
                [startSeconds]="4"
                [endSeconds]="8">
              </youtube-player> 
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
  </div>
   </div>


  </div>
  
 
  
</div>
     
   
<router-outlet></router-outlet>
