<div style=" margin-top: 88px;" class="container">
   
   
   <div style="margin-left: 140px;" class="col">
      <div class="carousel-item active ">
          <youtube-player   
          videoId="xlSxTvUiJgw" 
          suggestedQuality="highres" 
          [height]="500" 
          [width]="1000" 
          [startSeconds]="4"
          [endSeconds]="8">
        </youtube-player>  
      </div>
      

   </div>
    


<!-----carousel------->

  
  
<!---end of carousel-->
<div class="col">
    <h1 style="margin-top: px;margin-left: 200px;"class="text-white text-center">Enjoy High Quality Videos</h1>
  </div>
    <div style="margin-left: 220px;margin-top: 800px;" class=" row">
     
      <h1 class="row-header"><span class="mt-2">Explore More</span></h1>
        <div style="margin-left: -320px;" class="col">
                  <youtube-player class="inline-photo"
                  videoId="xlSxTvUiJgw" 
                  suggestedQuality="highres" 
                  [height]="150" 
                  [width]="340" 
                  [startSeconds]="4"
                  [endSeconds]="8">
                </youtube-player> 
                <p style="color: rgb(146, 149, 151);">19k views -4hours</p>
        </div>
        <div class="col">
            <youtube-player class="inline-photo"
            videoId="vPS4txvYVEw" 
            suggestedQuality="highres" 
            [height]="150" 
            [width]="340" 
            [startSeconds]="4"
            [endSeconds]="8">
          </youtube-player> 
          <p style="color: rgb(146, 149, 151);">19k views -4hours</p>

  </div>
  <div class="col">
      <youtube-player 
      videoId="vPS4txvYVEw" 
      suggestedQuality="highres" 
      [height]="150" 
      [width]="340" 
      [startSeconds]="4"
      [endSeconds]="8">
    </youtube-player> 
    <p style="color: rgb(146, 149, 151);">19k views -4hours</p>

</div>
        <div class="col">
                  <youtube-player 
                  videoId="vPS4txvYVEw" 
                  suggestedQuality="highres" 
                  [height]="150" 
                  [width]="340" 
                  [startSeconds]="4"
                  [endSeconds]="8">
                </youtube-player> 
                <p style="color: rgb(146, 149, 151);">19k views -4hours</p>

        </div>
        <div class="col">
                  <youtube-player 
                  videoId="7QkcMqknFJQ" 
                  suggestedQuality="highres" 
                  [height]="150" 
                  [width]="340" 
                  [startSeconds]="4"
                  [endSeconds]="8">
                </youtube-player> 
                <p style="color: rgb(146, 149, 151);">19k views -4hours</p>
        </div>
        <div class="col">
                  <youtube-player 
                  videoId="WOLiC0Yaszc" 
                  suggestedQuality="highres" 
                  [height]="150" 
                  [width]="340" 
                  [startSeconds]="4"
                  [endSeconds]="8">
                </youtube-player> 
                <p style="color: rgb(146, 149, 151);">19k views -4hours</p>
        </div>
        <div class="col">
                  <youtube-player 
                  videoId="2m5Z_256gn4" 
                  suggestedQuality="highres" 
                  [height]="150" 
                  [width]="340" 
                  [startSeconds]="4"
                  [endSeconds]="8">
                </youtube-player> 
                <p style="color: rgb(146, 149, 151);">19k views -4hours</p>
        </div>
        <div class="col">
                  <youtube-player 
                  videoId="IybSI2oXrqE" 
                  suggestedQuality="highres" 
                  [height]="150" 
                  [width]="340" 
                  [startSeconds]="4"
                  [endSeconds]="8">
                </youtube-player> 
                <p style="color: rgb(146, 149, 151);">19k views -4hours</p>
        </div>
        <div class="col">
                  <youtube-player 
                  videoId="SHZ5fHYMEqE" 
                  suggestedQuality="highres" 
                  [height]="150" 
                  [width]="340" 
                  [startSeconds]="4"
                  [endSeconds]="8">
                </youtube-player> 
                <p style="color: rgb(146, 149, 151);">19k views -4hours</p>
        </div>
        <div class="col">
                  <youtube-player 
                  videoId="ZEfsBTmV_gA" 
                  suggestedQuality="highres" 
                  [height]="150" 
                  [width]="340" 
                  [startSeconds]="4"
                  [endSeconds]="8">
                </youtube-player> 
                <p style="color: rgb(146, 149, 151);">19k views -4hours</p>
        </div>
        <div class="col">
                  <youtube-player 
                  videoId="X1Lv-ikjC1M" 
                  suggestedQuality="highres" 
                  [height]="150" 
                  [width]="340" 
                  [startSeconds]="4"
                  [endSeconds]="8">
                </youtube-player> 
                <p style="color: rgb(146, 149, 151);">19k views -4hours</p>
        </div>
        <div class="col">
                  <youtube-player 
                  videoId="m2MHtvFB8LA" 
                  suggestedQuality="highres" 
                  [height]="150" 
                  [width]="340" 
                  [startSeconds]="4"
                  [endSeconds]="8">
                </youtube-player> 
                <p style="color: rgb(146, 149, 151);">19k views -4hours</p>
        </div>
        <div class="col">
                  <youtube-player 
                  videoId="sIaT8Jl2zpI" 
                  suggestedQuality="highres" 
                  [height]="150" 
                  [width]="340" 
                  [startSeconds]="4"
                  [endSeconds]="8">
                </youtube-player> 
                <p style="color: rgb(146, 149, 151);">19k views -4hours</p>
        </div>
        <div class="col">
                  <youtube-player 
                  videoId="xlSxTvUiJgw" 
                  suggestedQuality="highres" 
                  [height]="150" 
                  [width]="340" 
                  [startSeconds]="4"
                  [endSeconds]="8">
                </youtube-player> 
                <p style="color: rgb(146, 149, 151);">19k views -4hours</p>
        </div>
        <div class="col">
                  <youtube-player 
                  videoId="xlSxTvUiJgw" 
                  suggestedQuality="highres" 
                  [height]="150" 
                  [width]="340" 
                  [startSeconds]="4"
                  [endSeconds]="8">
                </youtube-player> 
                <p style="color: rgb(146, 149, 151);">19k views -4hours</p>
        </div>
        <div class="col">
                  <youtube-player 
                  videoId="xlSxTvUiJgw" 
                  suggestedQuality="highres" 
                  [height]="150" 
                  [width]="340" 
                  [startSeconds]="4"
                  [endSeconds]="8">
                </youtube-player> 
                <p style="color: rgb(146, 149, 151);">19k views -4hours</p>
        </div>
        <div class="col">
                  <youtube-player 
                  videoId="xlSxTvUiJgw" 
                  suggestedQuality="highres" 
                  [height]="150" 
                  [width]="340" 
                  [startSeconds]="4"
                  [endSeconds]="8">
                </youtube-player> 
                <p style="color: rgb(146, 149, 151);">19k views -4hours</p>
        </div>
        <div class="col">
                  <youtube-player 
                  videoId="xlSxTvUiJgw" 
                  suggestedQuality="highres" 
                  [height]="150" 
                  [width]="340" 
                  [startSeconds]="4"
                  [endSeconds]="8">
                </youtube-player> 
                <p style="color: rgb(146, 149, 151);">19k views -4hours</p>
        </div>
        <div class="col">
                  <youtube-player 
                  videoId="xlSxTvUiJgw" 
                  suggestedQuality="highres" 
                  [height]="150" 
                  [width]="340" 
                  [startSeconds]="4"
                  [endSeconds]="8">
                </youtube-player> 
                <p style="color: rgb(146, 149, 151);">19k views -4hours</p>
        </div>
        <div class="col">
            <youtube-player 
            videoId="xlSxTvUiJgw" 
            suggestedQuality="highres" 
            [height]="150" 
            [width]="340" 
            [startSeconds]="4"
            [endSeconds]="8">
          </youtube-player> 
          <p style="color: rgb(146, 149, 151);">19k views -4hours</p>
  </div>
   </div>
  
</div>
     
   
<router-outlet></router-outlet>
