<div style=" margin-top: 88px;" class="container">
  
   <div data-aos="fade-down-left"  style="margin-left: 161px; margin-top: -1px;" class="col">
      <div class="carousel-item active ">
          <youtube-player   
          videoId="xlSxTvUiJgw" 
          suggestedQuality="highres" 
          [height]="500" 
          [width]="1050" 
          [startSeconds]="4"
          [endSeconds]="10000">
        </youtube-player>  
      </div>
      

   </div>
    


<!-----carousel------->

  
  
<!---end of carousel-->
<div class="col">
    <h1 style="margin-top: px;margin-left: 200px;"class="text-white text-center">Enjoy High Quality Videos</h1>
  </div>

    <div style="margin-left: 220px;margin-top: 800px;" class=" row d-flex">
     
        <div data-aos="fade-right" class="" ><h1 class="row-header"><span style="margin-left: 20px;margin-top: 15px;" class=" ">Explore More</span></h1>
        <p style="margin-left: 250px;" class="text-secondary mt-5 ">Stream the Best video of your choice <br>with the best video <span class="text-warning">Quality </span> ever existed</p>
        </div>
     
   
 
  <div  class="col">
      <div data-aos="zoom-in-up" class="card" style="width: 18rem;">
          <youtube-player 
          videoId="xlSxTvUiJgw" 
          suggestedQuality="highres" 
          [height]="150" 
          [width]="290" 
          [startSeconds]="4"
          [endSeconds]="8">
        </youtube-player> 
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>

</div>
        <div class="col">
            <div data-aos="zoom-in-up" class="card" style="width: 18rem;">
                <youtube-player 
                videoId="vPS4txvYVEw" 
                suggestedQuality="highres" 
                [height]="150" 
                [width]="290" 
                [startSeconds]="4"
                [endSeconds]="8">
              </youtube-player> 
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div> 
             
        </div>
        <div class="col">
            <div data-aos="zoom-in-up" class="card" style="width: 18rem;">
                <youtube-player 
                videoId="vPS4txvYVEw" 
                suggestedQuality="highres" 
                [height]="150" 
                [width]="290" 
                [startSeconds]="4"
                [endSeconds]="8">
              </youtube-player> 
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col">
            <div data-aos="zoom-in-up" class="card" style="width: 18rem;">
                <youtube-player 
                videoId="vPS4txvYVEw" 
                suggestedQuality="highres" 
                [height]="150" 
                [width]="290" 
                [startSeconds]="4"
                [endSeconds]="8">
              </youtube-player> 
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col">
            <div data-aos="zoom-in-up" class="card" style="width: 18rem;">
                <youtube-player 
                videoId="vPS4txvYVEw" 
                suggestedQuality="highres" 
                [height]="150" 
                [width]="290" 
                [startSeconds]="4"
                [endSeconds]="8">
              </youtube-player> 
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div data-aos="zoom-in-up" class="col">
            <div class="card" style="width: 18rem;">
                <youtube-player 
                videoId="vPS4txvYVEw" 
                suggestedQuality="highres" 
                [height]="150" 
                [width]="290" 
                [startSeconds]="4"
                [endSeconds]="8">
              </youtube-player> 
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col">
            <div data-aos="zoom-in-up" class="card" style="width: 18rem;">
                <youtube-player 
                videoId="vPS4txvYVEw" 
                suggestedQuality="highres" 
                [height]="150" 
                [width]="290" 
                [startSeconds]="4"
                [endSeconds]="8">
              </youtube-player> 
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col">
            <div data-aos="zoom-in-up" class="card" style="width: 18rem;">
                <youtube-player 
                videoId="vPS4txvYVEw" 
                suggestedQuality="highres" 
                [height]="150" 
                [width]="290" 
                [startSeconds]="4"
                [endSeconds]="8">
              </youtube-player> 
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col">
            <div data-aos="zoom-in-up" class="card" style="width: 18rem;">
                <youtube-player 
                videoId="vPS4txvYVEw" 
                suggestedQuality="highres" 
                [height]="150" 
                [width]="290" 
                [startSeconds]="4"
                [endSeconds]="8">
              </youtube-player> 
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div data-aos="zoom-in-up" class="col">
            <div class="card" style="width: 18rem;">
                <youtube-player 
                videoId="vPS4txvYVEw" 
                suggestedQuality="highres" 
                [height]="150" 
                [width]="290" 
                [startSeconds]="4"
                [endSeconds]="8">
              </youtube-player> 
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div data-aos="zoom-in-up" class="col">
            <div class="card" style="width: 18rem;">
                <youtube-player 
                videoId="vPS4txvYVEw" 
                suggestedQuality="highres" 
                [height]="150" 
                [width]="290" 
                [startSeconds]="4"
                [endSeconds]="8">
              </youtube-player> 
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div data-aos="zoom-in-up" class="col">
            <div class="card" style="width: 18rem;">
                <youtube-player 
                videoId="vPS4txvYVEw" 
                suggestedQuality="highres" 
                [height]="150" 
                [width]="290" 
                [startSeconds]="4"
                [endSeconds]="8">
              </youtube-player> 
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div data-aos="zoom-in-up" class="col">
            <div class="card" style="width: 18rem;">
                <youtube-player 
                videoId="vPS4txvYVEw" 
                suggestedQuality="highres" 
                [height]="150" 
                [width]="290" 
                [startSeconds]="4"
                [endSeconds]="8">
              </youtube-player> 
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <youtube-player 
                videoId="vPS4txvYVEw" 
                suggestedQuality="highres" 
                [height]="150" 
                [width]="290" 
                [startSeconds]="4"
                [endSeconds]="8">
              </youtube-player> 
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div data-aos="zoom-in-up" class="col">
            <div class="card" style="width: 18rem;">
                <youtube-player 
                videoId="vPS4txvYVEw" 
                suggestedQuality="highres" 
                [height]="150" 
                [width]="290" 
                [startSeconds]="4"
                [endSeconds]="8">
              </youtube-player> 
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div data-aos="zoom-in-up" class="col">
            <div class="card" style="width: 18rem;">
                <youtube-player 
                videoId="vPS4txvYVEw" 
                suggestedQuality="highres" 
                [height]="150" 
                [width]="290" 
                [startSeconds]="4"
                [endSeconds]="8">
              </youtube-player> 
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div  data-aos="zoom-in-up"class="col">
            <div class="card" style="width: 18rem;">
                <youtube-player 
                videoId="vPS4txvYVEw" 
                suggestedQuality="highres" 
                [height]="150" 
                [width]="290" 
                [startSeconds]="4"
                [endSeconds]="8">
              </youtube-player> 
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div data-aos="zoom-in-up" class="col">
            <div class="card" style="width: 18rem;">
                <youtube-player 
                videoId="vPS4txvYVEw" 
                suggestedQuality="highres" 
                [height]="150" 
                [width]="290" 
                [startSeconds]="4"
                [endSeconds]="8">
              </youtube-player> 
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
  </div>
   </div>
  
</div>
     
   
<router-outlet></router-outlet>
