<div class=" section-1 container-fluid  " >
    <form style="margin-left: 800px;" class="d-flex mb-2 ml-5 mt-3">
        
      </form>
  <div class="row ">
    <div class="col">
        <nav>
            <ul>
              <img  class="" src="../assets/transparent-icon-youtube-logo-youtube-copyright-strike-kacperniszonampaposs-profile-anilist5eb0d45ea51fa2.7624506715886470066764.png" width="70px"><strong style="margin-top: -30px;" class="text-white ml-2">Musika Player</strong>
             
              <li><i style="color: red;" class="bi bi-house-fill"></i><a routerLink='/explore' routerLinkActive="active">Home</a></li>
             
                
              <li ><i class="bi bi-compass"></i><a class="mt-5" routerLink="/explore">Explore</a></li>
              <li><i class="bi bi-person-badge"></i><a routerLink="history">API</a></li>
             
              

              <li><i class="bi bi-collection-play"></i><a href="search">Libraly</a></li>
              <li><i class="bi bi-search"></i><a routerLink="search">search</a></li>
              <li><i class="bi bi-gear"></i><a href="#">Settings</a></li>
              <a style="cursor: pointer; color:white" onclick="myFunction()"><i class="bi bi-moon"></i>Dark Mode</a>
              <div   class="gcse-search "></div>
            </ul>
          </nav>
    </div>

  </div>
  
  <router-outlet></router-outlet>

</div>
