<nav style="position:fixed;margin-top: -90px;border-radius: 20px;z-index: 10; margin-left: 230px; background-color: black" class="navbar navbar-expand-lg navbar-light ">
    <div class="container">
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul style="margin-left: 300px;" class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a style="margin-left: -300px;" routerLink="explore"  class="nav-link active text-white" aria-current="page" >Home</a>
          </li>
          <li class="nav-item">
            <a style="cursor: pointer;margin-left: 500px; position: absolute;" class="nav-link text-white" routerLink="read-me">About Us</a>
          </li>
          <li class="nav-item dropdown">
           
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown"aria-disabled="true">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        
        </ul>
       
      </div>
    </div>
    <div class="social-media">
    
    </div>
   
    <i  style="color: withe;transition: 0.5s ease; margin-right: 30px;font-size: 30px;transition: 0.5s ease;margin-left: 705px; cursor: pointer; color: bisque;" class="bi bi-person-circle"></i>
    <form class="form1"><i style="font-size: 50px; margin-left: 120px; color:ba" class="bi bi-person-circle text-center"></i>
      <input style="margin-left:40px;"  type="email" class="form-control w-75 mb-3 ml-3" placeholder="Your Email">
      <input style="margin-left:40px;"  type="password" class="form-control w-75 mb-3 ml-3" placeholder="Password" required>
      <a href="explore" style="margin-left:50px; position: absolute;" type="submit" class="btn btn-primary mr-5">Log in</a>
      <a style="margin-top: 50px; margin-left: 42px; position: absolute; text-decoration: none;" class="" href="search">Create New Account</a>
      <div style="margin-left: 150px;" class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
      </form>
     
  </nav>
  <!---logform-->
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
  
          </div>
       <p style="margin-left: 40px;" class="">Oops! Settings page is Under Maintainance <img src="../assets/Appoint a Handyman Services To Prepare Your Own House.jpeg" width="100px"> </p>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Get It</button>
           
          </div>
        </div>
      </div>
    </div>
  <div class="brand col">
    <div class="brand-wrapper">
        <strong id="strong" style="margin-top:-60px;
        font-weight: 900;
         font-size: 40px; 
         margin-left: 50px;
        position: fixed;
         
        " 
        class="text-primary ">Musika
        <img id="brand-img" src="../assets/5uwq.gif"
         width="50px"></strong>
    </div>
   
  </div>
   
    <nav id="nav1">
        <ul>

           
          <li><i style="color: red;" class="bi bi-house-fill"></i><a routerLink='/explore' routerLinkActive="active">Home</a></li>
         
            
          <li ><i class="bi bi-compass"></i><a class="mt-5" routerLink="/explore">Explore</a></li>
         
         
          

          <li><i class="bi bi-collection-play"></i><a routerLink="history">Libraly</a></li>
          
          <li><i class="bi bi-search"></i><a routerLink="search">Sign-up</a></li>
          <hr>
          <hr>  
          <li><i class="bi bi-gear"></i><a type="button" class="" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Settings
          </a></li>
          <i class="bi bi-moon"></i><a style="cursor: pointer; color:white" onclick="myFunction()">Dark Mode</a>
          
        </ul>
      </nav>
     
     <router-outlet></router-outlet>
 
     <footer style="padding: 10px;font-size: 15px; background: black;" class="text-center text-secondary">
      
      <div class="footer-glass text-center">
         
         

 
        </div>
      CopyRight&copy;Emmy 
      <div style="margin-left: 500px; margin-top: -100px;" class="div">
      
     
       
      </div>
      <hr style="bottom: 0;">
      <div style="margin-left: 500px;margin-top: 38px;">
         
      </div>
     
      </footer>