<div style="margin-left: 900px;position: fixed;margin-top: 30px; border-radius: 20px;" class="section0 container-fluid ">
  <a style="text-decoration: none;color: withe; margin-right: 30px; font-size: 20px; " href="">Read Me</a>
  <a style="text-decoration: none;color: withe; margin-right: 30px; font-size: 20px; " href="">Contact Us</a>
  <i style="text-decoration: none;color: withe; margin-right: 30px;font-size: 20px; color: bisque;" class="bi bi-linkedin"></i>
  <i style="text-decoration: none;color: withe; margin-right: 30px; font-size: 20px; color: bisque;" class="bi bi-instagram"></i>
  <i style="text-decoration: none;color: withe; margin-right: 30px; font-size: 20px;color: blue; "  class="fab fa-facebook-f"></i>

  
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">

        </div>
     <p style="margin-left: 40px;" class="">Oops! Settings page is Under Maintainance <img src="../assets/Appoint a Handyman Services To Prepare Your Own House.jpeg" width="100px"> </p>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Get It</button>
         
        </div>
      </div>
    </div>
  </div>

<div class=" section-1 container-fluid  " >
   
      <strong style="top: 0;font-weight: 900; font-size: 40px;
      position: fixed;" class="text-primary ml-4 ">Musika<img src="../assets/pngegg.png" width="50px"></strong>
  <div class="row ">
    <div class="col">
      
        <nav>
            <ul>

               
              <li><i style="color: red;" class="bi bi-house-fill"></i><a routerLink='/explore' routerLinkActive="active">Home</a></li>
             
                
              <li ><i class="bi bi-compass"></i><a class="mt-5" routerLink="/explore">Explore</a></li>
             
             
              

              <li><i class="bi bi-collection-play"></i><a routerLink="history">Libraly</a></li>
              <li><i class="bi bi-search"></i><a routerLink="search">search</a></li>
              <hr>
              <hr>  
              <li><i class="bi bi-gear"></i><a type="button" class="" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Settings
              </a></li>
              <a style="cursor: pointer; color:white" onclick="myFunction()"><i class="bi bi-moon"></i>Dark Mode</a>
              
            </ul>
          </nav>
    </div>

  </div>
  
  <router-outlet></router-outlet>

</div>
