#col-id{
     position: relative;
     width: 100%;
     height: 420px;
    
     z-index: 100;
     border-radius: 10px;
     box-shadow: 2px 2px 5px 10px;
     z-index: 1;
     margin-top: 70px;
}

#col-id .bi{
     margin-right: 10px;
     font-size: 30px;

}
#col-id .bi-instagram{
     margin-left: 410px;
  

     
}
#col-id a:hover{
color:red !important;
}



/*.clip::before{
     content: '';
     position: absolute;
     background-color: yellowgreen;
     clip-path: circle(20%  center 70%);
     width: 100px;
     height: 100px;
}*/
