/* You can add global styles to this file, and also import other style files */
*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}
.dark-mode{
     background-color: rgb(2, 0, 7);
     color:white;
     
}
.bi-moon{
     font-size: 20px;
     margin-left: 20px;
}